<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>160697788254-vu9gj7btmbipl207hii4ltqan8prtir5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.160697788254-vu9gj7btmbipl207hii4ltqan8prtir5</string>
	<key>API_KEY</key>
	<string>AIzaSyALf01h3-xYh1ZF7OgjZkO8fjXzpKzEQRA</string>
	<key>GCM_SENDER_ID</key>
	<string>160697788254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bravcotech.vidZeon.ai.video.generator</string>
	<key>PROJECT_ID</key>
	<string>ai-video-generator-c09ff</string>
	<key>STORAGE_BUCKET</key>
	<string>ai-video-generator-c09ff.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:160697788254:ios:a3b13ae4b2bdd2fea251cf</string>
</dict>
</plist>